@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Heebo:wght@100&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(212, 193, 212); */
    height: 1000vh;
    width: 100%;
    
}
#curve{
    border: 4px dotted rgb(255, 255, 255);
    /* padding: 20%; */
    border-radius: 50px;
    position: absolute;
    top: 70px;
    left: 80px;
    height: 800vh;
    width: 90%;
    z-index: 12;
}
.fa-spinner{
    color: red;
}
#title{
    color: white;
    font-family: 'Urbanist', sans-serif;
    background-color: rgb(31, 2, 31);
    position: absolute;
    top: 40px;
    left: 700px;
    font-size: 40px;
    display:table;
    margin-left: auto;
    margin-right: auto;
    z-index: 13;
}
#heading{
    font-size: 40px;
    text-align: center;
    color: white;
}
#heading::first-letter{
    font-size: 200px;
    font-family: 'Ruthie', cursive;
}
#heading{
    font-family: 'Playfair Display', serif;
    letter-spacing: 18px;
    font-size: 50px;
}
#img-parent{
    display: grid;
    place-items: center;
}
.image{
    color: white;
    font-size: 70px;
    text-align: center;
    text-shadow: 5px 5px rgb(3, 59, 3);
}
#sub-heading{
    color: white;
    text-align: center;
    font-size: 43px;
    font-family: 'Allison', cursive;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 18px;
    text-shadow: 4px 4px rgb(3, 59, 3);
    /* padding-bottom: 2em; */
}
#header{
    background-color: rgb(31, 2, 31);
    height: 750px;
    position: relative;
    padding-top: 100px;
    width: auto;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 11;
    margin-bottom: -20%;
    
}

#para_1{
    color: rgb(0, 0, 0);
    position: relative;
    height: 950px;
    background-image: url(https://images.unsplash.com/photo-1521332154212-570f03627d4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 10;
    margin-bottom: -20%;
}
#long-scroll{
    padding-top: 350px;
    margin-left: 250px;
}
#heading-1{
    font-size: 40px;
}
#heading-2{
    font-size: 30px;
}
#long-scroll::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
    letter-spacing: 5px;
}
#sub_heading-1{
    font-size: 30px;
    margin-left: 250px;
}
#para-1{
    font-family: 'Urbanist', sans-serif;
    color: black;
    font-size: 22px;
    width: 50%;
    text-align: left;
    margin-left: 250px;
    margin-right: auto;
}
#para_2{
    color: rgb(255, 255, 255);
    position: relative;
    height: 900px;
    background-image: url(https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 9;
    margin-bottom: -20%;
}
#story{
    padding-top: 450px;
    margin-left: 450px;
    font-size: 40px;
}
#heading-3{
    margin-left: 100px;  
}
#story::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#para-2{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 38%;
    text-align: left;
    margin-left: 550px;
    margin-right: auto;
}
#para_3{
    color: rgb(0, 0, 0);
    position: relative;
    height: 900px;
    background-image: url(https://images.unsplash.com/photo-1580508244245-c446ca981a6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 8;
    margin-bottom: -20%;
}
#smart-device{
    padding-top: 450px;
    margin-left: 200px;
    font-size: 40px;
}
#smart-device::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#heading-4{
    margin-left: 100px;  
}
#para-3{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 40%;
    text-align: left;
    margin-left: 300px;
    margin-right: auto;
}
#para_4{
    color: rgb(0, 0, 0);
    position: relative;
    height: 900px;
    background-image: url(https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 7;
    margin-bottom: -20%;
}
#punchy{
    padding-top: 450px;
    margin-left: 450px;
    font-size: 40px;
}
#punchy::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#heading-4{
    margin-left: 100px;  
}
#heading-5{
    margin-left: 200px;  
}
#para-4{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 40%;
    text-align: left;
    margin-left: 650px;
    margin-right: auto;
}
#para_5{
    color: rgb(0, 0, 0);
    position: relative;
    height: 900px;
    background-image: url(https://images.unsplash.com/photo-1621014698348-1755d054fb6b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fG1vdW5hdGluc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 6;
    margin-bottom: -20%;
}
#fasier{
    padding-top: 450px;
    margin-left: 200px;
    font-size: 40px;
}
#fasier::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#heading-6{
    margin-left: 175px;  
}
#para-5{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 40%;
    text-align: left;
    margin-left: 300px;
    margin-right: auto;
}
#para_6{
    color: rgb(236, 144, 159);
    position: relative;
    height: 1050px;
    background-image: url(https://images.unsplash.com/photo-1620744209976-74accdabd814?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 5;
    margin-bottom: -20%;
}
#long-scroll_2{
    padding-top: 350px;
    margin-left: 600px;
}
#heading-7{
    font-size: 40px;
}
#heading-8{
    font-size: 30px;
    color: white;
}
#long-scroll_2::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
    letter-spacing: 5px;
}
#sub_heading-2{
    font-size: 30px;
    margin-left: 700px;
}
#para-6{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 40%;
    text-align: left;
    margin-left: 700px;
    margin-right: auto;
}
#para_7{
    color: rgb(0, 0, 0);
    position: relative;
    height: 1000px;
    background-image: url(https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 4;
    margin-bottom: -20%;
}
#slower{
    padding-top: 480px;
    margin-left: 200px;
    font-size: 40px;
}
#slower::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#para-7{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 40%;
    text-align: left;
    margin-left: 310px;
    margin-right: auto;
}
#para_8{
    color: rgb(0, 0, 0);
    position: relative;
    height: 1000px;
    background-image: url(https://images.unsplash.com/photo-1622544841807-9ca22fddaba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20%), 0 100%);
    z-index: 3 ;
    margin-bottom: -20%;
}
#awkward{
    padding-top: 430px;
    margin-left: 600px;
    font-size: 40px;
}
#awkward::first-letter{
    font-family: 'Ruthie', cursive;
    font-size: 5em;
}
#para-8{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 39%;
    text-align: left;
    margin-left: 700px;
    margin-right: auto;
}
#para_9{
    background-color: rgb(194, 189, 189);
    height: 560px;
    clip-path: polygon(0 calc(100% - 80%), 100% 0, 100% 100%, 0 100%);
    /* margin-top: -80%; */
    position: relative;
    z-index: 20;
}
#flex{
    display: flex;
}
#left{
    width: 65%;
    padding-top: 180px;
    font-size: 35px;
    padding-left: 100px;
    color: rgb(78, 78, 78);
}
#right{
    text-align: right;
    font-size: 22px;
    padding-top: 180px;
    margin-left: 220px;
}
#link{
    font-family: 'Urbanist', sans-serif;
    color: rgb(78, 78, 78);
    margin-left: 100px;
    font-size: 30px;
} 
footer{
    color: rgb(110, 108, 108);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}
#linkk{
    color: rgb(78, 78, 78);
    text-decoration: none;
}